* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

/*---------HEADER-------------*/
.container-fluid img {
  width: 90px;
  height: 90px;
}
.container-fluid a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
}
.container-fluid .navbar-nav {
  margin-right: 2.5rem;
}
.container-fluid .navbar-nav .nav-link {
  text-decoration: none;
  color: #000;
  padding: 7px;
  border-radius: 20px;
  transition: 0.8s ease;
}
.container-fluid .navbar-nav .nav-link:hover {
  background-color: #000;
  color: #fff;
}
.container-fluid .navbar-collapse {
  display: flex;
  justify-content: end;
}

/*------SECTION HERO----*/
.hero {
  background-image: url(../images/background-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 5px #000;
}
.hero .hero__tittle {
  font-size: 2.5rem;
  margin: 1rem;
}
.hero .hero__paragraph {
  font-size: 1rem;
}

/*--------SECTION COURSES INDEX-----*/
.courses__index {
  width: 100%;
  height: 100vh;
}
.courses__index .courses__texts--index {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
}
.courses__index .courses__tittle--index {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.courses__index .courses__paragraph--index {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.cards__container--index {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.cards__container--index a {
  text-decoration: none;
  color: #fff;
  border: solid 2px #000;
  border-radius: 0.4rem;
  background-color: #000;
  padding: 5px;
}
.cards__container--index a:hover {
  background-color: #fff;
  color: #000;
}
.cards__container--index img {
  height: 300px;
  width: 350px;
}
.cards__container--index h3 {
  margin: 0.5rem 0;
}

/**----------MEMBERSHIPS INDEX---------**/
.memberships__index {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #323232;
  padding-bottom: 50px;
}
.memberships__index h2 {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.memberships__cards--container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}
.memberships__cards--container .memberships__cards--index {
  border: solid 2px #000;
  padding: 0.5rem;
  background-color: #CCCCCC;
  text-align: center;
}
.memberships__cards--container .memberships__cards--index h3,
.memberships__cards--container .memberships__cards--index p {
  padding-bottom: 0.5rem;
}
.memberships__cards--container .memberships__cards--index .memberships__benefits {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.memberships__cards--container .memberships__cards--index .memberships__benefits li {
  margin: 1rem 0;
  text-align: start;
}
.memberships__cards--container .memberships__cards--index .memberships__benefits li .fa-xmark {
  font-size: 16px;
}
.memberships__cards--container .memberships__cards--index .memberships__benefits li i {
  padding-right: 0.5rem;
}
.memberships__cards--container .memberships__cards--index a {
  display: inline;
  text-decoration: none;
  color: #fff;
  border: solid 2px #000;
  border-radius: 0.4rem;
  background-color: #000;
  padding: 5px;
}
.memberships__cards--container .memberships__cards--index a:hover {
  background-color: #fff;
  color: #000;
}

/*------SECTION ABOUT US----*/
.about {
  background-image: url(../images/about-us-background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-shadow: 0 0 5px #000;
}

.about__texts {
  display: flex;
  height: 100vh;
}
.about__texts img {
  width: 50%;
}
.about__texts .about__paragraph {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  justify-content: center;
  line-height: 1.5rem;
}
.about__texts .about__paragraph p {
  margin: 5rem 0;
  font-weight: bold;
}

/**----------------OUR TEAM-----------**/
.our__team {
  text-align: center;
  padding: 2rem 1rem;
}
.our__team h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.our__team h3 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
.our__team .our__team--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: 1rem;
}
.our__team .our__team--container .our__team--card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.1);
  max-width: 300px;
  margin: 0 auto;
}
.our__team .our__team--container .our__team--card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.our__team .our__team--container .our__team--card h4 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.our__team .our__team--container .our__team--card p {
  font-size: 1rem;
  color: #333;
}

/**----------------OUR GYM-----------**/
.our__gym {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.our__gym h2 {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
.our__gym .our__gym--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 75rem;
}
.our__gym .our__gym--container img {
  height: auto;
  width: 300px;
  margin: 1rem;
}

/**---------------- PAGE OUR COURSES-----------**/
.courses {
  background-image: url(../images/background-courses.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  text-shadow: 0 0 5px #000;
}

.courses__texts {
  margin: 20px 0;
  text-align: center;
}

.courses__imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.courses__imgs img {
  height: auto;
  width: 300px;
  margin: 1rem;
}

/**----------------MEMBERSHIPS-----------**/
.memberships {
  background-image: url(../images/memberships-background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-shadow: 0 0 5px #000;
}

.memberships__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #323232;
}
.memberships__section h2 {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.memberships__section .memberships__discount {
  margin-top: 8rem;
}

.memberships__cards--container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: middle;
}
.memberships__cards--container .memberships__cards {
  border: solid 2px #000;
  padding: 0.5rem;
  background-color: #CCCCCC;
  height: 20rem;
  text-align: center;
}
.memberships__cards--container .memberships__cards h3,
.memberships__cards--container .memberships__cards p {
  padding-bottom: 0.5rem;
}
.memberships__cards--container .memberships__cards .memberships__benefits {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.memberships__cards--container .memberships__cards .memberships__benefits li {
  margin: 1rem 0;
  text-align: start;
}
.memberships__cards--container .memberships__cards .memberships__benefits li i {
  padding-right: 0.5rem;
}
.memberships__cards--container .memberships__cards a {
  display: inline;
  text-decoration: none;
  color: #fff;
  border: solid 2px #000;
  border-radius: 0.4rem;
  background-color: #000;
  padding: 5px;
}
.memberships__cards--container .memberships__cards a:hover {
  background-color: #fff;
  color: #000;
}

/**----------------MEMBERSHIPS FORM-----------**/
.memberships__form--section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin: 1rem 0;
}
.memberships__form--section .memberships__form--container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.memberships__form--section .memberships__form--container .memberships__form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}
.memberships__form--section .memberships__form--container .memberships__form form fieldset {
  border-radius: 10px;
}
.memberships__form--section .memberships__form--container .memberships__form form .input__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.1rem;
}
.memberships__form--section .memberships__form--container .memberships__form form .input__field input {
  height: 30px;
  padding: 1rem;
  border-radius: 10px;
}
.memberships__form--section .memberships__form--container .memberships__form form .memberships__button {
  margin-top: 1rem;
  font-size: 0.8rem;
  height: 30px;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
}
.memberships__form--section .memberships__form--container .memberships__form form .memberships__button:hover {
  background-color: #fff;
  color: #000;
}

/**----------------CONTACT-----------**/
.contact {
  background-image: url(../images/contact-background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-shadow: 0 0 5px #000;
}

.contact__section .contact__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  /**----------------CONTACT MAP-----------**/
}
.contact__section .contact__container .contact__social {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
.contact__section .contact__container .contact__social a {
  margin: 0.8rem 0;
  padding: 0.5rem;
  color: #000;
}
.contact__section .contact__container .contact__social a i {
  margin-right: 0.5rem;
}
.contact__section .contact__container .contact__map {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.contact__section .contact__container .contact__map iframe {
  border-radius: 10px;
  border: solid 2px black;
}

/**-----------FOOTER------------**/
footer {
  width: 100%;
  padding: 1.5rem;
}
footer .footer__container--columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}
footer .footer__container--columns .column1 {
  width: 100%;
  text-align: center;
}
footer .footer__container--columns .column1 a, footer .footer__container--columns .column1 i {
  color: #000;
}
footer .footer__container--columns .column1 h2, footer .footer__container--columns .column1 p {
  margin-bottom: 0.5rem;
}
footer .footer__container--columns .column1 .row1 i {
  font-size: 1.5rem;
  padding: 0.8rem;
}
footer .footer__container--columns .column2 {
  width: 100%;
  text-align: center;
}
footer .footer__container--columns .column2 .footer__list li {
  margin: 0.5rem;
}
footer .footer__container--columns .column2 .footer__list li a {
  margin: 0.5rem;
  color: #000;
}
footer .footer__container--columns .column3 {
  width: 100%;
  text-align: center;
}
footer .footer__container--columns .column3 h2, footer .footer__container--columns .column3 p {
  margin-bottom: 0.5rem;
}
footer .copyrights {
  color: #fff;
  text-align: center;
  background-color: #000;
}

/**---------------------------------MEDIAS QUERY------------**/
/**-----------------------------<576px---------**/
@media (max-width: 576px) {
  /**--------------HEADER-------**/
  .container-fluid img {
    width: 70px;
    height: 70px;
  }
  .container-fluid a {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
  }
  .container-fluid .navbar-brand {
    font-size: 1.8rem;
  }
  .navbar-collapse.show {
    justify-content: center;
  }
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .navbar-toggler {
    width: 40px;
    height: 40px;
    padding: 0;
  }
  .navbar-toggler-icon {
    width: 30px;
    height: 30px;
  }
  /**-----------------TITLE & BACKGROUND HERO INDEX----**/
  .hero {
    background-image: url(../images/background-hero22.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero .hero__tittle {
    font-size: 2rem;
    margin: 1rem;
  }
  .hero .hero__paragraph {
    font-size: 1rem;
    margin: 1rem;
  }
  /**-----------------SECTION COURSES INDEX----**/
  .courses__index {
    height: auto;
  }
  .courses__texts--index {
    width: 90%;
    margin: auto;
  }
  .cards__container--index {
    flex-direction: column;
  }
  .cards__container--index {
    justify-content: center;
    align-items: center;
  }
  .courses__cards--index {
    margin-bottom: 20px;
  }
  .cards__container--index img {
    width: 336px;
  }
  /**-------------MEMBERSHIPS INDEX---------**/
  .memberships__cards--container {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 20px;
  }
  /**-----------------FOOTER----**/
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  .footer__container--columns {
    flex-direction: column !important;
    justify-content: start;
  }
  .footer__list {
    padding: 0;
  }
  /**-------------ABOUT US PAGE---------**/
  .about {
    height: 100vh;
    margin-bottom: 20px;
  }
  .about__texts {
    flex-direction: column;
  }
  .about__texts img {
    width: 90%;
    margin: auto;
  }
  .about__paragraph {
    width: 100%;
  }
  .about__paragraph p {
    margin: auto;
    font-weight: bold;
  }
  /**--------------OUR TEAM-------**/
  .our__team--container {
    grid-template-columns: 1fr;
  }
  /**----------------OUR GYM-----------**/
  .our__gym {
    padding: 0;
  }
  .our__gym--container {
    flex-direction: column;
    align-items: center;
  }
  .our__gym--container img {
    width: 90%;
    height: auto;
  }
  /**----------------OUR COURSES-----------**/
  .courses {
    background-image: url(../images/background-courses2.webp);
  }
  .courses__imgs {
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
  /**----------------MEMBERSHIPS-----------**/
  .memberships__section .memberships__discount {
    font-size: 1rem;
  }
  /**----------------SECTION REGISTER MEMBERSHIPS-----------**/
  .memberships__form--title {
    text-align: center;
    font-size: 1.2rem;
  }
  .memberships__form--container {
    flex-direction: column;
    margin-bottom: 0px;
  }
  .memberships__form--container img {
    width: 100%;
  }
  .input__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
  }
  .input__field input {
    height: 30px;
    padding: 0;
  }
  /**-----------------CONTACT PAGES----**/
  .contact__container {
    display: flex;
    flex-direction: column;
  }
  .contact__social {
    font-size: 1.2rem;
  }
  /**----------------CONTACT MAP-----------**/
  .contact__map {
    margin: 5px;
  }
  .contact__map iframe {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */*/
